.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;          
  padding: 20px;
  gap: 20px;
}

.photo {
  width: 50%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;     
	/* border-radius: 10px; */
}

.text {
  width: 50%;
}

.text h1 {
  /* font-size: 32px; */
  margin-bottom: 10px;
}

.text p {
  /* margin-bottom: 20px; */
  /* color: gray; */
}

.buttonn {
  padding: 10px 20px;
  background-color: #e60023;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
}
